{
    "default_server_config": {
        "m.homeserver": {
            "base_url": "http://{{ box.domain }}",
            "server_name": "{{ box.domain }}"
        },
        "m.identity_server": {
            "base_url": ""
        }
    },
    "brand": "{{ box.name }}",
    "disable_guests": false,
    "roomDirectory": {
        "servers": ["{{ box.domain }}"]
    },
    "default_federate": false,
    "room_security_recommendations": true,
    "e2ee": {
        "default": true
    }
}
