[Unit]
Description=Conduit Matrix homeserver
Documentation=https://gitlab.com/famedly/conduit
After=network.target
Wants=network.target

[Service]
User=conduit
Group=conduit
ExecStart=/usr/local/bin/conduit
Environment=CONDUIT_CONFIG=/etc/conduit/conduit.toml
Restart=on-failure
RestartSec=5s

# Hardening
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/srv/cafebox/conduit
CapabilityBoundingSet=

[Install]
WantedBy=multi-user.target
